@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Declaring root Variables */
:root {
    --btnIdleColor: #E46643;
    --btnHoverColor: #F39765;
    --primaryColor: #FFFFFF;
    --headerBackgroundColor: #2B2D31;
    --smallTextColor: #7C8187;
    --navIconBacroundColor: #35393F;
    --textColor: #35393F;
    --blockColor: #f4f4f4;

    /* Inner Headers Colors*/
    --innerHeaderTextColor: #7C8187;
    --innerHeaderBackgroundColor: #F5F5F5;

    /* Sidebar Colors */
    --sidebarColor: #1D1F22;
    --togglerBackground: #5A6069;
}

.dark-theme{
    --primaryColor: #151619;
    --textColor: #FFFFFF;
    --innerHeaderTextColor: #F5F5F5;
    --innerHeaderBackgroundColor: #1D1F22;
    --blockColor: #5A6069;
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
}
.app{
    display: flex;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Slab", serif;
    overflow: hidden;
}

h1{
    font-size: 32px;
    color: var(--textColor);
}

h2{
    font-size: 28px;
    color: var(--textColor);
}

h3{
    font-size: 24px;
    color: var(--textColor);
}

h4{
    font-size: 20px;
    color: var(--textColor);
}

h5{
    font-size: 16px;
    color: var(--textColor);
}

h6{
    font-size: 14px;
    color: var(--btnIdleColor);
}

ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}

ul li, ol li {
    margin-bottom: 0.5em;
}

p {
    margin: 0.5em 0;
}

blockquote {
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--blockColor);
    border-left: 5px solid #e67e22;
    font-style: italic;
    border-radius: 5px;
}

blockquote p {
    margin: 0;
}

/* Code Blocks */
code {
    background-color: var(--blockColor);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}





